/* static/css/shared/reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: #f4f6f9; /* Fondo general de la aplicación */
}
 
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}